<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kcoppock.broadcasttile"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".PrivateBroadcastReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.kcoppock.CUSTOMTILE_ACTION_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".PublicBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">

            <intent-filter>
                <action android:name="com.kcoppock.CUSTOMTILE_ACTION_TOAST"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
